@use "@styles/keyframes";

/* Solution markers */
/* This could be part of H5P.Question */
.h5p-dictation-no-content {
	width: auto;
	font-size: var(--h5p-theme-font-size-xxl-large);
	text-align: center;
}

.h5p-dictation {
	/* Reused from H5P.Question */
	--explanation-container-offset-right: -1.615384615em;
	--explanation-container-offset-top: -0.846153846em;
	--explanation-container-height: calc(1.923076923em * 0.638297872);
	--explanation-container-width: 1.923076923em;

	.h5p-dictation-sentences {
		display: grid;
		gap: var(--h5p-theme-spacing-s);
	}

	.h5p-sentence {
		--button-size: calc(2 * var(--h5p-theme-font-size-xl));

		color: var(--h5p-theme-text-primary);
		width: 100%;
		display: grid;
		column-gap: var(--h5p-theme-spacing-fifth-medium);

		&.one-audio-button {
			grid-template-columns: auto 1fr;
		}

		&.two-audio-buttons {
			grid-template-columns: auto auto 1fr;
		}
	}

	.h5p-sentence-interaction {
		width: 100%;
	}

	.h5p-sentence-description {
		align-items: center;
	}

	.h5p-dictation-audio-wrapper {
		align-self: start;
		font-size: var(--h5p-theme-font-size-xxl);

		&.hide {
			visibility: hidden;
		}
	}

	.h5p-solution-container {
		font-size: var(--h5p-theme-font-size-m);
		position: relative;
		width: calc(100% - var(--h5p-theme-spacing-s));
		left: calc(var(--h5p-theme-spacing-s) / 2);

		&.hide {
			display: none;
		}
	}

	.h5p-solution-inner {
		background-color: var(--h5p-theme-alternative-light, #fbfbfb);
		border-bottom: 1px solid var(--h5p-theme-stroke-1, #ddd);
		border-left: 1px solid var(--h5p-theme-stroke-1, #ddd);
		border-right: 1px solid var(--h5p-theme-stroke-1, #ddd);
		padding: var(--h5p-theme-spacing-xxs);
		text-align: left;
		position: relative;
	}

	.h5p-solution-text {
		position: relative;
		z-index: 3;
		display: inline-flex;
		flex-wrap: wrap;
		column-gap: var(--explanation-container-width);
		row-gap: var(--h5p-theme-spacing-xxs);

		.h5p-solution-word {
			border-style: solid;
			border-width: 2px;
			border-radius: var(--h5p-theme-border-radius-small);
			font-weight: bold;
			line-height: 1;
			padding: calc(var(--h5p-theme-spacing-xs) / 2);
			position: relative;

			&::after {
				padding-left: calc(var(--h5p-theme-spacing-s) * 0.75);
				position: relative;
				text-decoration: none;
				top: 0;
			}
		}

		&:has(.h5p-question-plus-one-container) {
			padding-right: calc(-1 * var(--explanation-container-offset-right));

			.h5p-solution-word {
				margin-top: calc(var(--explanation-container-height) + var(--explanation-container-offset-top));
			}
		}

		&:has(.h5p-question-minus-one-container) {
			padding-right: calc(-1 * var(--explanation-container-offset-right));

			.h5p-solution-word {
				margin-top: calc(var(--explanation-container-height) + var(--explanation-container-offset-top));
			}
		}
	}

	.h5p-audio-minimal-button {
		font-weight: normal;
		padding: 0;
		width: var(--button-size);
		height: var(--button-size);
		line-height: var(--button-size);

		&::before {
			font-size: var(--h5p-theme-font-size-xl);
			vertical-align: bottom;
		}

		&.h5p-audio-minimal-none {
			background: none;
			cursor: default;
			visibility: hidden;
		}

		&.h5p-audio-minimal-slow {
			font-family: "H5PFontawesome4", sans-serif;
			&::before {
				content: "\f0e4";
				font-size: calc(1.25 * var(--h5p-theme-font-size-xl));
			}
		}

		&.h5p-dictation-delay-animation {
			animation-name: play-button-delay;
		}
	}

	.h5p-input-wrapper {
		display: grid;
	}

	.h5p-text-input {
		width: 100%;
		box-sizing: border-box;
		resize: none;
		font-family: var(--h5p-theme-font-name);
		font-size: var(--h5p-theme-font-size-m);
		border-radius: var(--h5p-theme-border-radius-medium);
		background-color: var(--h5p-theme-ui-base);
		border: 2px solid var(--h5p-theme-alternative-darker);
		padding: calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xxs);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: break-spaces;
		color: var(--h5p-theme-text-primary);
		line-height: 1.5;

		&:focus {
			box-shadow: 0 0 0.5em 0 var(--h5p-theme-contrast-cta-white);
			border-color: var(--h5p-theme-contrast-cta-white);
			outline: 1px ridge var(--h5p-theme-contrast-cta-white);
		}

		&:disabled {
			background: var(--h5p-theme-contrast-cta-light);
		}

		&.hide {
			display: none;
		}
	}

	.h5p-answer-added {
		text-decoration: line-through;
	}

	.h5p-answer-wrong {
		text-decoration: line-through;
	}

	.h5p-answer-typo {
		text-decoration: line-through;
	}

	.h5p-wrapper-wrong {
		background-color: var(--h5p-theme-feedback-incorrect-secondary);
		border-color: var(--h5p-theme-feedback-incorrect-third);
		color: var(--h5p-theme-feedback-incorrect-main);

		&::after {
			color: var(--h5p-theme-feedback-incorrect-main);
			content: "\e902";
			font-family: 'h5p-theme', sans-serif;
		}
	}

	.h5p-wrapper-missing {
		background-color: var(--h5p-theme-feedback-incorrect-secondary);
		border-color: var(--h5p-theme-feedback-incorrect-third);
		color: var(--h5p-theme-feedback-incorrect-main);

		&::after {
			color: var(--h5p-theme-feedback-incorrect-main);
			content: "\e902";
			font-family: 'h5p-theme', sans-serif;
		}
	}

	.h5p-wrapper-added {
		background-color: var(--h5p-theme-feedback-incorrect-secondary);
		border-color: var(--h5p-theme-feedback-incorrect-third);
		color: var(--h5p-theme-feedback-incorrect-main);

		&::after {
			color: var(--h5p-theme-feedback-incorrect-main);
			content: "\e902";
			font-family: 'h5p-theme', sans-serif;
		}
	}

	.h5p-wrapper-typo {
		background-color: var(--h5p-theme-feedback-neutral-third);
		border: 1px solid var(--h5p-theme-feedback-neutral-main);
		color: var(--h5p-theme-feedback-neutral-secondary);

		&::after {
			color: var(--h5p-theme-feedback-neutral-secondary);
			content: "\f12a";
			font-family: "H5PFontAwesome4", sans-serif;
		}
	}

	.h5p-wrapper-match {
		background: var(--h5p-theme-feedback-correct-secondary);
		border-color: var(--h5p-theme-feedback-correct-third);
		color: var(--h5p-theme-feedback-correct-main);

		&::after {
			color: var(--h5p-theme-feedback-correct-main);
  		content: "\e903";
			font-family: 'h5p-theme', sans-serif;
		}
	}

	.h5p-question-plus-one-container,
	.h5p-question-minus-one-container {
		background-color: var(--h5p-theme-ui-base);
		position: absolute;
		width: var(--explanation-container-width);
		height: var(--explanation-container-height);
		background-size: 100% 100%;
		right: var(--explanation-container-offset-right);
		top: var(--explanation-container-offset-top);
		z-index: 1;
		opacity: 1;
		transition: opacity 150ms linear, transform 150ms linear;

		.h5p-question-minus-one {
			position: unset;
		}

		.h5p-question-plus-one {
			position: unset;
		}

		.h5p-question-plus-one-half {
			background-color: var(--h5p-theme-feedback-correct-main);
			mask-image: url(../images/plus-one-half.svg);
			height: 100%;
			width: 100%;
		}

		.h5p-question-minus-one-half {
			background-color: var(--h5p-theme-feedback-incorrect-main);
			mask-image: url(../images/minus-one-half.svg);
			height: 100%;
			width: 100%;
		}
	}
}
