/* Only used for audio button, could go into H5Picons */
@font-face {
  font-family: "H5PDictation";
  src:  url('../fonts/H5PDictation.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.h5p-dictation {}
.h5p-dictation-no-content {
  width: auto;
  font-size: 1.5em;
  text-align: center;
}
.h5p-dictation .h5p-sentence {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.h5p-dictation .h5p-sentence-interaction {
  width: 100%;
}
.h5p-dictation .h5p-sentence-description {
  display: flex;
  align-items: center;
}
.h5p-dictation .h5p-sentence-description.h5p-sentence-description-one-button {
  padding-left: 2.875em;
}
.h5p-dictation .h5p-sentence-description.h5p-sentence-description-two-buttons {
  padding-left: 5.5em;
}
.h5p-dictation .h5p-dictation-audio-wrapper {
  display: flex;
  align-self: flex-start;
  float: left;
  margin: 0 0.25em 0 0;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
}
.h5p-dictation .h5p-dictation-audio-wrapper.hide {
  visibility: hidden;
}
.h5p-dictation .h5p-input-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 0.25em;
  padding-left: 0.25em;
  flex-grow: 1;
}
.h5p-dictation .h5p-solution-container {
  position: relative;
  width: calc(100% - 0.5em);
  left: 0.25em;
}
.h5p-dictation .h5p-solution-container.hide {
  display: none;
}
.h5p-dictation .h5p-solution-inner {
  background: #fbfbfb;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0.5em 1.25em 0.5em 0.5em;
  text-align: left;
  position: relative;
}
.h5p-dictation .h5p-solution-text {
  position: relative;
  z-index: 3;
  display: inline-flex;
  flex-wrap: wrap;
  padding-right: 1.615384615em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
.h5p-dictation .h5p-solution-text.h5p-solution-last-correct {
  padding-right: 0.5em;
}
.h5p-dictation .h5p-audio-minimal-button {
  border: none;
  font-weight: normal;
  padding: 0;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}
.h5p-dictation .h5p-audio-minimal-button:before {
  font-size: 0.8em;
  vertical-align: bottom;
}
.h5p-dictation .h5p-audio-minimal-button.h5p-audio-minimal-none {
  background: none;
  cursor: default;
}
.h5p-dictation .h5p-audio-minimal-button.h5p-audio-minimal-pause:before {
  font-size: 0.6em;
}
.h5p-dictation .h5p-audio-minimal-button.h5p-audio-minimal-slow {
  font-family: "H5PDictation";
}
.h5p-dictation .h5p-audio-minimal-button.h5p-audio-minimal-slow:before {
  content: "\e900";
    font-size: 1.1em;
}
.h5p-dictation .h5p-audio-minimal-button.h5p-audio-minimal-pause:before {
  content: "\f04c";
}
.h5p-dictation .h5p-text-input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.h5p-dictation .h5p-text-input.hide {
  display: none;
}
.h5p-dictation .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}
.h5p-dictation .h5p-text-input:disabled {
  background: #e9e9e4;
}
/* Solution markers */

.h5p-dictation .h5p-answer-added, .h5p-dictation .h5p-answer-wrong, .h5p-dictation .h5p-answer-typo {
  text-decoration: line-through;
}
.h5p-dictation .h5p-answer-missing, .h5p-dictation .h5p-answer-match {}
.h5p-dictation .h5p-solution-added, .h5p-dictation .h5p-solution-wrong, .h5p-dictation .h5p-solution-typo, .h5p-dictation .h5p-solution-missing, .h5p-dictation .h5p-solution-match {}
.h5p-dictation .h5p-wrapper-wrong, .h5p-dictation .h5p-wrapper-missing, .h5p-dictation .h5p-wrapper-added {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
  margin-top: 0.5em;
  position: relative;
  border-radius: 0.25em;
  padding: 0.15em;
  line-height: 1em;
}
.h5p-dictation .h5p-wrapper-wrong:after, .h5p-dictation .h5p-wrapper-missing:after, .h5p-dictation .h5p-wrapper-added:after {
  padding-left: 0.25em;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}
.h5p-dictation .h5p-wrapper-typo {
  background-color: #f7e3cf;
  border: 1px solid #f7e3cf;
  color: #b5691c;
  margin-top: 0.5em;
  position: relative;
  border-radius: 0.25em;
  padding: 0.15em;
  line-height: 1em;
}
.h5p-dictation .h5p-wrapper-typo:after {
  padding-left: 0.25em;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f12a";
  color: #b5691c;
}
.h5p-dictation .h5p-wrapper-match {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
  margin-top: 0.5em;
  position: relative;
  border-radius: 0.25em;
  padding: 0.15em;
  line-height: 1em;
}
.h5p-dictation .h5p-wrapper-match:after {
  padding-left: 0.25em;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}
.h5p-spacer {
  margin-right: 0.25em;
}
/* This could be part of H5P.Question */

.h5p-question-plus-one-half,
.h5p-question-minus-one-half {
  position: absolute;
  width: 1.923076923em;
  height: calc(1.923076923em * 0.638297872);
  background-size: 100% 100%;
  right: -1.615384615em;
  top: -0.846153846em;
  z-index: 1;
  opacity: 1;
  transition: opacity 150ms linear, transform 150ms linear;
}
.h5p-question-plus-one-half {
  background-image: url(../images/plus-one-half.svg);
}
.h5p-question-minus-one-half {
  background-image: url(../images/minus-one-half.svg);
}
