@keyframes play-button-delay {
	0% {
		background: var(--h5p-theme-main-cta-base);
	}
	9% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 90%, var(--h5p-theme-main-cta-dark) 90%);
	}
	18% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 80%, var(--h5p-theme-main-cta-dark) 80%);
	}
	27% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 70%, var(--h5p-theme-main-cta-dark) 70%);
	}
	36% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 60%, var(--h5p-theme-main-cta-dark) 60%);
	}
	45% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 50%, var(--h5p-theme-main-cta-dark) 50%);
	}
	55% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 40%, var(--h5p-theme-main-cta-dark) 40%);
	}
	64% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 30%, var(--h5p-theme-main-cta-dark) 30%);
	}
	73% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 20%, var(--h5p-theme-main-cta-dark) 20%);
	}
	82% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 10%, var(--h5p-theme-main-cta-dark) 10%);
	}
	91% {
		background: linear-gradient(var(--h5p-theme-main-cta-base) 0%, var(--h5p-theme-main-cta-dark) 0%);
	}
	100% {
		background: var(--h5p-theme-main-cta-dark);
	}
}
