.h5p-dictation {
  padding: 0.5em 1em;
}

.h5p-dictation .h5p-sentence {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.h5p-dictation .h5p-dictation-audio-wrapper {
  display: flex;
  align-self: flex-start;
  float: left;
  margin: 0 0.25em 0 0;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.h5p-dictation .h5p-dictation-audio-wrapper.hide {
  visibility: hidden;
}

.h5p-dictation .h5p-input-wrapper {
  display: flex;
  align-self: flex-start;
  padding-top: 0.25em;
  flex-grow: 1;
}

.h5p-dictation .h5p-dictation-solution {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0 1em 0 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #e9e9e4;
}
.h5p-dictation .h5p-dictation-solution.hide {
  display: none;
}

.h5p-dictation .h5p-text-input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.h5p-dictation .h5p-text-input.hide {
  display: none;
}

.h5p-dictation .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}
.h5p-dictation .h5p-text-input:disabled {
  background: #e9e9e4;
}

/* Solution markers */
.h5p-dictation .h5p-added {
  text-decoration: line-through;
}
.h5p-dictation .h5p-missing {
}
.h5p-dictation .h5p-wrong {
}
.h5p-dictation .h5p-typo {
}
.h5p-dictation .h5p-match {
}
.h5p-dictation .h5p-wrapper-wrong {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
}
.h5p-dictation .h5p-wrapper-wrong:after {
  left: 0.5em;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}
.h5p-dictation .h5p-wrapper-typo {
  background-color: #f7e3cf;
  border: 1px solid #f7e3cf;
  color: #b5691c;
}
.h5p-dictation .h5p-wrapper-typo:after {
  left: 0.5em;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f12a";
  color: #b5691c;
}
.h5p-dictation .h5p-wrapper-match {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
}
.h5p-dictation .h5p-wrapper-match:after {
  left: 0.5em;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}
