.h5p-dictation {
  padding: 0.5em 1em;
}

.h5p-dictation .h5p-sentence {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

.h5p-dictation .h5p-dictation-audio-wrapper {
  display: flex;
  float: left;
  margin: 0 0.25em 0 0;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.h5p-dictation .h5p-dictation-audio-wrapper.hide {
  visibility: hidden;
}

.h5p-dictation .h5p-input-wrapper {
  display: flex;
  flex-grow: 1;
}

.h5p-dictation .h5p-dictation-input {
  margin: 0 auto;
  vertical-align: baseline;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.h5p-dictation .h5p-text-input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.h5p-dictation .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}
.h5p-dictation .h5p-text-input.h5p-not-filled-out {
  background: #fff0f0;
}

/* Correctly answered input */
.h5p-dictation .h5p-correct .h5p-text-input {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
}
.h5p-dictation .h5p-correct-answer {
  color: #255c41;
  font-weight: bold;
}
.h5p-dictation .h5p-correct:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}

/* Wrongly answered input */
.h5p-dictation .h5p-wrong .h5p-text-input {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
  text-decoration: line-through;
}
.h5p-dictation .h5p-wrong:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}
